<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>landing page</title>
  <link rel="stylesheet" href="/static/styless.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <nav>
    <a href="http://localhost:8000/welcome/"><img id="logo" src="/static/logo.png" alt=""></a>
    <h1>TRAVELTROOPTALK</h1>
    <div class="navbar">
      <a class="active" href="http://localhost:8000/welcome/">Home</a>
      <a href="#about">About Us</a>
      <a href="http://localhost:8000/community/">Communities <img id="globe" src="/static/Globe.png" alt=""></a>
    </div>
    <button><a href="http://localhost:8000/signup/"> Sign up </a></button>
    <button><a href="http://localhost:8000/login/"> Log in </a></button>
    </nav>
    <form >
      <input type="text" name="search" id="search" placeholder="Search">
    </form>
    <div class="box">
      <div class="image">
        <img src="/static/box.jpeg" alt="">
      </div>
      <div class="text">
        <h5>Where to catch Local bus for Ooty in Chennai?</h5>
        <p>If you're planning a journey from Chennai to the picturesque hill station of Ooty, your adventure begins with finding the right local buses in Chennai. Chennai, a bustling metropolis, offers various transportation options to kickstart your journey to the serene hills of Ooty.</p>
      </div>
</div>
</body>
</html>